<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <style type="text/css">
        body {
            background-color: #f4f5f7;
            position: relative;
            z-index: 0;
            overflow: hidden;
            text-align: center;
            color: #172b4d;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Ubuntu, 'Droid Sans', 'Helvetica Neue', sans-serif;
        }

        h1 {
            margin-bottom: 50px;
        }
    </style>
    <script src="./js/utils.js"></script>
</head>
<body>
    <h1>⚠️ Forbidden ⚠️</h1>

    <p>
        You do not have sufficient permissions to access this. Your board admin does, though!
    </p>

    <script src="https://p.trellocdn.com/power-up.min.js"></script>
</body>
</html>
