<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <style type="text/css">
        body {
            background-color: #f4f5f7;
            position: relative;
            z-index: 0;
            overflow: hidden;
            text-align: center;
            color: #172b4d;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Ubuntu, 'Droid Sans', 'Helvetica Neue', sans-serif;
        }
    </style>
    <script src="./js/utils.js"></script>
</head>
<body>
    <h1>Privacy Policy</h1>

    <p>
        All of your data is stored by Trello, nothing is sent to my servers. I do not collect your e-mail address, your Trello username or anything. I do not collect anything.<br />
        Refer to <a href="https://trello.com/privacy">Trello's privacy policy</a>.
    </p>

    <p>
        Please contact <a href="mailto:lilywonhalf@gmail.com">lilywonhalf@gmail.com</a> if you somehow need more information.
    </p>

    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="./js/client.js"></script>
</body>
</html>
